@model MusicShop.ViewModel.HomeViewModel
@*@@using MusicShop.Infrastructure*@


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_StoreLayout.cshtml";
}

<nav class="genres-horizontal">
    <ul>
        @foreach (var genre in Model.Genres)
        {
            <li>
                <a href="@Url.Action("List", "Store", new { genrename = genre.Name.ToLower() })" 
                   style="background-image: url(@Url.GenreIconPath(genre.IconFilename))">
                    @genre.Name
                    
                </a>
            </li>
        }
    </ul>
    <a href="">
        <img id="baner-main" src="../Content/Images/baner-main.png" />
    </a>
</nav>

<section>
    <ul class="ThreeColumnsCoversList large-cover-list">
       @foreach(var newArrival in Model.NewArrivals)
       {
           <li>
               <article>
                   <a class="addtocartlink" href="@Url.Action("AddToCart", "Cart", new { id = newArrival.AlbumId})">
                       <img src="../Content/Images/cart.png" />
                   </a>
                   <a class="productdetailslink" href="@Url.Action("Details", "Store", new { id = newArrival.AlbumId})">
                       <div class="newFlag"></div>
                       <img class="album-cover" src="@Url.Content("~/Content/Covers/" + newArrival.CoverFileName)" />
                       <h1>
                           @newArrival.ArtistName - @newArrival.AlbumTitle
 1                      </h1>
                   </a>
               </article>
           </li>
       }
    </ul>
</section>

<section>
    <ul class="ThreeColumnsCoversList large-cover-list">
       @foreach (var bestseller in Model.Bestsellers)
       {
        <li>
            <article>
                <a class="addtocartlink" href="@Url.Action("AddTocart", "Cart", new { id = bestseller.AlbumId})">
                    <img src="../Content/Images/cart.png" />
                </a>
                <a class="productdetailslink" href="@Url.Action("Details", "Store", new { id = bestseller.AlbumId})">
                    <div class="bestsellerFlag"></div>
                    <img class="album-cover" src="@Url.AlbumCoverPath(bestseller.CoverFileName)" />
                    <h1>
                        @bestseller.ArtistName - @bestseller.AlbumTitle
                    </h1>
                </a>
            </article>
        </li>
       }
        
    </ul>
</section>

